/* font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; */

.topnav {
    background-color: white;
}

a:link {
    color: black;
    padding: 14px 25px;
    text-align: center; 
    display: inline-block;
    text-decoration: underline;
    text-transform: uppercase;

}

a:visited {
    color: #A09282;
}

